/*
===============
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
===============
Variables
===============
*/

:root {
  /* greys */
  --clr-grey-1: #333333;
  --clr-grey-2: #666666;
  --clr-grey-3: #e2e2e2;
  --clr-white: #fff;
  --clr-green: #4ed17b;
  --ff-primary: 'Roboto', sans-serif;
  --radius: 0.5rem;
  --radius-secondary: 0.15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h3 {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-1);
}
h3 {
  font-size: 20px;
}
p {
  font-size: 15px;
  line-height: 2;
  color: var(--clr-grey-2);
}

/*
==============
Cards
==============
*/
.title {
  text-align: center;
}
.cards {
  padding: 4rem 0;
}
.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.card img {
  min-width: 300px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card {
  border-radius: var(--radius);
  border: 1px solid var(--clr-grey-3);
  margin-bottom: 3rem;
}
.card-info {
  padding: 30px 25px;
}
.card-footer {
  background: var(--darkPlum);
  padding: 30px 25px;
  display: grid;
  grid-template-columns: 1fr 50px;
  justify-items: self-start;
  align-items: flex-end;
}
.price {
  font-size: 35px;
  font-weight: bold;
  align-self: flex-end;
}
.price-tag {
  color: var(--clr-grey-1);
}
.icon {
  padding: 10px 15px;
  border-radius: var(--radius-secondary);
  border: 1px solid var(--clr-green);
  background-color: var(--clr-green);
}
i {
  color: var(--clr-white);
}
.icon:hover i {
  color: var(--clr-grey-1);
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.cards-center {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
